# Python
__pycache__/
*.py[co]
*.egg-info/
*.egg
dist/
build/
.venv/
venv/

# tests
.coverage
.pytest_cache/
htmlcov/

# tools
.mypy_cache/
.ruff_cache/

# working folders
/experiments/

# IDE files
.idea
