# Python
__pycache__/
*.py[co]
*.pyc
*.pyo
*.egg-info
*.egg
dist/
build/
.eggs/

# Virtual environments
.venv/
venv/

# Tests
.coverage
.pytest_cache/
htmlcov/

# Working folders
/experiments/

# IDE files
.idea
.vscode/
*.swp
*.swo
